In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data1 = pd.read_csv('datacoba.csv')

In [4]:
data2 = pd.read_csv('datacoba2.csv')

In [5]:
data3 = pd.read_csv('datacoba3.csv')

In [6]:
gabung =  pd.concat([data1, data2, data3])

In [7]:
gabung1 = gabung.drop('Unnamed: 0', axis = 1)

In [8]:
gabung1.index = np.arange(1, len(gabung1) + 1)

In [9]:
gabung1

                                                  tweet
1     bukannya ape² ye, dikata yg linjur tinggal kom...
2     ptm, alesannya pertama dapet uang jajan, trs l...
3     This!! Aku lumayan rajin ngumpul tugas dan ofc...
4     hikss samaa aku jg kurang puas, waktu jawabin ...
5     Kalau buat ngapalin atau mahamin materi sih yg...
...                                                 ...
3574  besok kimia …gk tau mau belajar materi apaaannnnn
3575  pengen belajar desain grafis, belajar materi k...
3576  Ngerasa bersalah hr ini cuma belajar materi ti...
3577  Mungkin bisa join kepanitiaan/volunteer nder, ...
3578  Menemani anak belajar . Materi anak kelas 1 SD...

[3578 rows x 1 columns]

In [10]:
gabung1.to_csv('raw_data.csv')